html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

#nav-bar{
    display: flex;
    width: 99%;
    padding: 23px 0px 10px 0px;
    /* border: 1px solid black; */
    margin: 0px 0px 15px 2px;
 
}

#nav-bar > input{
    border: 1px solid lightgrey;
    width: 70px;
    padding: 1px;
    margin-right: 25px;
    margin-left: 15px;
    outline: none;
    border-radius: 3px;
    height: 50px;
}

#nav-bar > select{
    flex-grow: 1;
    width: 50px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    /* top right bottom left */
    padding: 15px 120px 13px 13px;    
    margin-right: 15px;
}

#nav-bar > button{
    box-sizing: border-box;
    /*Position */
    padding: 13px;
    background: #ffffff;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-right: 15px;
    margin-left: 10px;
}

.grid-container {
    display: grid;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    height: 79vh;
    /* border: 5px solid green; */
    grid-template-columns: repeat(5, 1fr); 
}

.grid-column{
    display: block;
    /* border: 1px solid black; */
    height: 400px;
}

#col-1{
    background-color: #000000;   
}

#col-2{
    background-color: #1B1818;  
}

#col-3{
    background-color: #363010;  
}

#col-4{
    background-color: #4f4a4a; 
}

#col-5{
    background-color: #6A6262;  
}



.grid-row{
    /* border: 1px solid black; */
    text-align: center;
    padding-top: 30px;
    height: 30px;
    margin-top: -6px;
    font-weight: 800;
    font-size: 12px;
    color: #2B283A;
}